/* submenus */
	#submenus {
		font-family:Tahoma, Geneva, sans-serif;
		font-size: 11px;
		background-color: #1a1a1a;
		height: 33px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		margin: 4px 4px 0px 0px;
		padding-left: 2px;
		display: block;
		line-height: 1;
		float:right;
	}

		#submenus .submenus-top > li {
			float: right;
			position: relative;
			text-align: center;	
			padding-top:0px;
			padding-right:0px;
			margin-top:2px;	
			margin-right:2px;	
		    height: 29px;
			-webkit-transition: background-color 0.4s;
			-moz-transition: background-color 0.4s;
			-ms-transition: background-color 0.4s;
			-o-transition: background-color 0.4s;
			transition: background-color 0.4s;
		    border-radius: 2px;		
		}
		
		#submenus .submenus-top > li:hover {
			background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;		
		}
		
		#submenus .submenus-selected {
			display: block;
			line-height: 29px;
			padding: 0px 15px;
			color: #ffffff;
            background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;	
		}
		
		
		#submenus .submenus-top .submenus-right {
			float: right;
		}
		#submenus .submenus-button {
			display: block;
			line-height: 27px;
			padding: 0px 15px;
			color: #959595;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		#submenus li:hover .submenus-button {
			color: #ffffff;
			text-decoration:bold;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}

/* submenusmid */
	#submenusmid {
		font-family:Tahoma, Geneva, sans-serif;
		font-size: 11px;
		background-color: #1a1a1a;
		height: 33px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		margin: 4px 4px 0px 0px;
		padding-left: 2px;
		display: block;
		line-height: 1;
		float:right;
	}

		#submenusmid .submenusmid-top > li {
			float: right;
			position: relative;
			text-align: center;	
			padding-top:0px;
			padding-right:0px;
			margin-top:2px;	
			margin-right:2px;	
		    height: 29px;
			-webkit-transition: background-color 0.4s;
			-moz-transition: background-color 0.4s;
			-ms-transition: background-color 0.4s;
			-o-transition: background-color 0.4s;
			transition: background-color 0.4s;
		    border-radius: 2px;		
		}
		
		#submenusmid .submenusmid-top > li:hover {
			background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;		
		}
		
		#submenusmid .submenusmid-selected {
			display: block;
			line-height: 29px;
			padding: 0px 15px;
			color: #ffffff;
            background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;	
		}
		
		
		#submenusmid .submenusmid-top .submenusmid-right {
			float: right;
		}
		#submenusmid .submenusmid-button {
			display: block;
			line-height: 27px;
			padding: 0px 15px;
			color: #959595;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		#submenusmid li:hover .submenusmid-button {
			color: #ffffff;
			text-decoration:bold;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}

/* submenusright */
	#submenusright {
		font-family:Tahoma, Geneva, sans-serif;
		font-size: 11px;
		background-color: #1a1a1a;
		height: 33px;
		box-shadow: 0 0 0px #080808;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		margin: 4px 4px 0px 0px;
		padding-left: 2px;
		display: block;
		line-height: 1;
		float:right;
	}

		#submenusright .submenusright-top > li {
			float: right;
			position: relative;
			text-align: center;	
			padding-top:0px;
			padding-right:0px;
			margin-top:2px;	
			margin-right:2px;	
		    height: 29px;
			-webkit-transition: background-color 0.4s;
			-moz-transition: background-color 0.4s;
			-ms-transition: background-color 0.4s;
			-o-transition: background-color 0.4s;
			transition: background-color 0.4s;
		    border-radius: 2px;		
		}
		
		#submenusright .submenusright-top > li:hover {
			background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;		
		}
		
		#submenusright .submenusright-selected {
			display: block;
			line-height: 29px;
			padding: 0px 15px;
			color: #ffffff;
            background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;	
		}
		
		
		#submenusright .submenusright-top .submenusright-right {
			float: right;
		}
		#submenusright .submenusright-button {
			display: block;
			line-height: 27px;
			padding: 0px 15px;
			color: #959595;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		#submenusright li:hover .submenusright-button {
			color: #ffffff;
			text-decoration:bold;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
/* submenusnews */
	#submenusnews {
		font-family:Tahoma, Geneva, sans-serif;
		font-size: 11px;
		background-color: #1a1a1a;
		height: 33px;
		box-shadow: 0 0 0px #080808;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		margin: 4px 4px 0px 0px;
		padding-left: 2px;
		display: block;
		line-height: 1;
		float:right;
	}

		#submenusnews .submenusnews-top > li {
			float: right;
			position: relative;
			text-align: center;	
			padding-top:0px;
			padding-right:0px;
			margin-top:2px;	
			margin-right:2px;	
		    height: 29px;
			-webkit-transition: background-color 0.4s;
			-moz-transition: background-color 0.4s;
			-ms-transition: background-color 0.4s;
			-o-transition: background-color 0.4s;
			transition: background-color 0.4s;
		    border-radius: 2px;		
		}
		
		#submenusnews .submenusnews-top > li:hover {
			background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;		
		}
		
		#submenusright .submenusright-selected {
			display: block;
			line-height: 29px;
			padding: 0px 15px;
			color: #ffffff;
            background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;	
		}
		
		
		#submenusnews .submenusnews-top .submenusnews-right {
			float: right;
		}
		#submenusnews .submenusnews-button {
			display: block;
			line-height: 27px;
			padding: 0px 15px;
			color: #959595;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		#submenusnews li:hover .submenusnews-button {
			color: #ffffff;
			text-decoration:bold;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
/* submenusservers */
	#submenusservers {
		font-family:Tahoma, Geneva, sans-serif;
		font-size: 11px;
		background-color: #1a1a1a;
		height: 33px;
		box-shadow: 0 0 0px #080808;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		margin: 4px 4px 0px 0px;
		padding-left: 2px;
		display: block;
		line-height: 1;
		float:right;
	}

		#submenusservers .submenusservers-top > li {
			float: right;
			position: relative;
			text-align: center;	
			padding-top:0px;
			padding-right:0px;
			margin-top:2px;	
			margin-right:2px;	
		    height: 29px;
			-webkit-transition: background-color 0.4s;
			-moz-transition: background-color 0.4s;
			-ms-transition: background-color 0.4s;
			-o-transition: background-color 0.4s;
			transition: background-color 0.4s;
		    border-radius: 2px;		
		}
		
		#submenusservers .submenusservers-top > li:hover {
			background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;		
		}
		
		#submenusservers .submenusservers-selected {
			display: block;
			line-height: 29px;
			padding: 0px 15px;
			color: #ffffff;
            background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;	
		}
		
		
		#submenusservers .submenusservers-top .submenusservers-right {
			float: right;
		}
		#submenusservers .submenusservers-button {
			display: block;
			line-height: 27px;
			padding: 0px 15px;
			color: #959595;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		#submenusservers li:hover .submenusservers-button {
			color: #ffffff;
			text-decoration:bold;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}

		#submenus-login {
		font-family:Tahoma, Geneva, sans-serif;
		font-size: 11px;
		background-color: #1a1a1a;
		height: 33px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		margin: 4px 4px 0px 0px;
		padding-left: 2px;
		display: block;
		line-height: 1;
		float:right;
	}
	#submenus-login .submenus-login-top > li {
			float: right;
			position: relative;
			text-align: center;	
			padding-top:0px;
			padding-right:0px;
			margin-top:2px;	
			margin-right:2px;	
		    height: 29px;
			-webkit-transition: background-color 0.4s;
			-moz-transition: background-color 0.4s;
			-ms-transition: background-color 0.4s;
			-o-transition: background-color 0.4s;
			transition: background-color 0.4s;
		    border-radius: 2px;		
		}
		
		#submenus-login .submenus-login-top > li:hover {
			background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;		
		}
		
		#submenus-login .submenus-login-selected {
			display: block;
			line-height: 29px;
			padding: 0px 15px;
			color: #ffffff;
            background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;	
		}
		
		
		#submenus-login .submenus-login-top .submenus-login-right {
			float: right;
		}
		#submenus-login .submenus-button {
			display: block;
			line-height: 27px;
			padding: 0px 15px;
			color: #959595;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		#submenus-login li:hover .submenus-button {
			color: #ffffff;
			text-decoration:bold;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		

		#submenus-update {
		font-family:Tahoma, Geneva, sans-serif;
		font-size: 11px;
		background-color: #1a1a1a;
		height: 33px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		margin: 4px 4px 0px 0px;
		padding-left: 2px;
		display: block;
		line-height: 1;
		float:right;
	}
	#submenus-update .submenus-update-top > li {
			float: right;
			position: relative;
			text-align: center;	
			padding-top:0px;
			padding-right:0px;
			margin-top:2px;	
			margin-right:2px;	
		    height: 29px;
			-webkit-transition: background-color 0.4s;
			-moz-transition: background-color 0.4s;
			-ms-transition: background-color 0.4s;
			-o-transition: background-color 0.4s;
			transition: background-color 0.4s;
		    border-radius: 2px;		
		}
		
		#submenus-update .submenus-update-top > li:hover {
			background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;		
		}
		
		#submenus-update .submenus-update-selected {
			display: block;
			line-height: 29px;
			padding: 0px 15px;
			color: #ffffff;
            background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;	
		}
		
		
		#submenus-update .submenus-update-top .submenus-update-right {
			float: right;
		}
		#submenus-update .submenus-button {
			display: block;
			line-height: 27px;
			padding: 0px 15px;
			color: #959595;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		#submenus-update li:hover .submenus-button {
			color: #ffffff;
			text-decoration:bold;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		
		#submenus-topics {
		font-family:Tahoma, Geneva, sans-serif;
		font-size: 11px;
		background-color: #1a1a1a;
		height: 33px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		margin: 4px 4px 0px 0px;
		padding-left: 2px;
		display: block;
		line-height: 1;
		float:right;
	}
#submenus-topics .submenus-topics-top > li {
			float: right;
			position: relative;
			text-align: center;	
			padding-top:0px;
			padding-right:0px;
			margin-top:0px;	
			margin-right:3px;	
		    height: 29px;
			-webkit-transition: background-color 0.4s;
			-moz-transition: background-color 0.4s;
			-ms-transition: background-color 0.4s;
			-o-transition: background-color 0.4s;
			transition: background-color 0.4s;
		    border-radius: 2px;		
		}
		
		#submenus-left-topics {
			float:left;
		font-family:Tahoma, Geneva, sans-serif;
		font-size: 11px;
		background-color: #1a1a1a;
		height: 33px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		margin: 4px 4px 0px 0px;
		padding-left: 2px;
		display: block;
		line-height: 1;
		float:right;
	}
#submenus-left-topics .submenus-left-topics-top > li {
			float: left;
			position: relative;
			text-align: center;	
			padding-top:0px;
			padding-right:0px;
			margin-top:0px;	
			margin-right:3px;	
		    height: 29px;
			-webkit-transition: background-color 0.4s;
			-moz-transition: background-color 0.4s;
			-ms-transition: background-color 0.4s;
			-o-transition: background-color 0.4s;
			transition: background-color 0.4s;
		    border-radius: 2px;		
		}
		
		
		
		#submenus-topics2 {
		font-family:Tahoma, Geneva, sans-serif;
		font-size: 11px;
		background-color: #1a1a1a;
		height: 33px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		margin: 4px 4px 0px 0px;
		padding-left: 2px;
		display: block;
		line-height: 1;
		float:right;
	}
#submenus-topics2 .submenus-topics2-top > li {
			float: right;
			position: relative;
			text-align: center;	
			padding-top:0px;
			padding-right:0px;
			margin-top:0px;	
			margin-right:3px;	
		    height: 29px;
			-webkit-transition: background-color 0.4s;
			-moz-transition: background-color 0.4s;
			-ms-transition: background-color 0.4s;
			-o-transition: background-color 0.4s;
			transition: background-color 0.4s;
		    border-radius: 2px;		
		}
		
				#submenus-stats {
		font-family:Tahoma, Geneva, sans-serif;
		font-size: 11px;
		background-color: #1a1a1a;
		height: 33px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		margin: 4px 4px 0px 0px;
		padding-left: 2px;
		display: block;
		line-height: 1;
		float:right;
	}
	
#submenus-stats .submenus-stats-top > li {
			float: right;
			position: relative;
			text-align: center;	
			padding-top:0px;
			padding-right:0px;
			margin-top:2px;	
			margin-right:2px;	
		    height: 29px;
			-webkit-transition: background-color 0.4s;
			-moz-transition: background-color 0.4s;
			-ms-transition: background-color 0.4s;
			-o-transition: background-color 0.4s;
			transition: background-color 0.4s;
		    border-radius: 2px;		
		}
		
				#submenus-stats .submenus-stats-top > li:hover {
			background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;		
		}
		
		#submenus-stats .submenus-stats-selected {
			display: block;
			line-height: 29px;
			padding: 0px 15px;
			color: #ffffff;
            background-color: #0080CC;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		    border-radius: 2px;	
		}
		
		
		#submenus-stats .submenus-stats-top .submenus-stats-right {
			float: right;
		}
		#submenus-stats .submenus-stats-button {
			display: block;
			line-height: 27px;
			padding: 0px 15px;
			color: #959595;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}
		#submenus-stats li:hover .submenus-stats-button {
			color: #ffffff;
			text-decoration:bold;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-ms-transition: color 0.2s;
			-o-transition: color 0.2s;
			transition: color 0.2s;
		}